@font-face {
    font-family: "Komika Title - Brush";
    src: url("KOMTITBR.ttf") format("Regular");
  }
  
canvas { 
    border: 4px, solid, blue;
    margin-top: 0px;
}

body {
    margin: -20; 
    font-family: "Komika Title - Brush", monospace, Arial, Helvetica, sans-serif;
    background: url('images/backgroundcolor.png');
    background-repeat: repeat;
    background-size: cover;
}

.gameLinks { 

  display: flex;
  justify-content: space-between;
}

.startText { 
  font-family: "Komika Title - Brush";
  font-size: 30px;
  color:white;
}

.resetText { 
  font-size: 30px;
  color: white;

}

h2:hover { 
  color: yellow;
}


.container { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

#clipCanvas {
  /* background: green; */
  align-items: flex-end;
  width: 400px; 
  height: 270px;
}
  


.container2 { 
  background: url('images/transparent2.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 250px;
}


 