@font-face {
  font-family: 'Komika Title - Brush';
  src: url('KomikaTitle-Brush.woff2') format('woff2'),
      url('KomikaTitle-Brush.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


  
canvas { 
    border: 4px, solid, blue;
}

body {
    font-family: "Komika Title - Brush", monospace, Arial, Helvetica, sans-serif;
    background: url('images/backgroundcolor.png');
    background-repeat: repeat-y;
    background-size: cover;
}

.content { 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}


h1{ 
  text-align: center;
  font-size: 50px;
  color: mediumvioletred;
}

h3 { 
  font-size: 25px;

}

.instructions { 
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;;
}

P {
  font-family: 'Overpass Mono', monospace;
  font-size: 15px;
  width: 550px;
  background: url('images/backgroundfinal2.png')
  border: 1px solid blue;
  text-align: center;
  color: white;
}

.startText { 
  font-family: "Komika Title - Brush";
  text-align: center;
  font-size: 25px;
  color:white;
}

.resetText { 
  text-align: center;
  font-size: 25px;
  color: white;
}


h3:hover { 
  color: yellow;
}

h4 { 
  color: cyan;
  padding-right: 25px;
}

.points { 
  margin: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  justify-content: center;
}

.icon { 
  display: inline-block;
  margin: 0;
  width: 35px;
  height: 35px;
}


span { 
  font-family: "Komika Title - Brush";
  /* font-family: 'Overpass Mono', monospace; */
  font-size: 20px;
  color: yellow;
}


.container { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

#clipCanvas {
  /* background: green; */
  align-items: flex-end;
  width: 400px; 
  height: 270px;
}
  
.container2 { 
  background: url('images/transparent2.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 250px;
}


 