@font-face {
    font-family: "Komika Title - Brush";
    src: url("KOMTITBR.ttf") format("Regular");
  }
  
canvas { 
    border: 4px, solid, blue;
}

body {
    font-family: "Komika Title - Brush", monospace, Arial, Helvetica, sans-serif;
    background: url('images/backgroundcolor.png');
    background-repeat: repeat-y;
    background-size: cover;
}

.content { 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.links { 

}

h1{ 
  font-size: 40px;
  color: mediumvioletred;
}

h3 { 
  font-size: 25px;

}

.instructions { 
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;;
}

P {
  font-family: 'Chathura', sans-serif;
  font-size: 30px;
  width: 500px;
  background: url('images/backgroundfinal2.png')
  border: 1px solid blue;
  text-align: center;
  color: white;
}

.startText { 
  font-family: "Komika Title - Brush";
  font-size: 25px;
  color:white;
}

.resetText { 
  font-size: 25px;
  color: white;
}

.points { 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

h3:hover { 
  color: yellow;
}

h4 { 
  color: mediumvioletred;
}

.points { 
  display: flex;
  flex-direction: row;;
  justify-content: center;
}

.icon { 
  width: 25px;
  height: 25px;
}


.container { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

#clipCanvas {
  /* background: green; */
  align-items: flex-end;
  width: 400px; 
  height: 270px;
}
  
.container2 { 
  background: url('images/transparent2.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 250px;
}


 